@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: initial;
  line-height: normal;
}

a {
  color: black;
  text-decoration: none;
}
a:hover {
  color: initial;
}

.color_dark-brown_gradient {
  background-image: linear-gradient(to right, #A37C40 0%, #B49082 100%);
}

.color_dark-brown {
  background-color: #A37C40; /*#C76831*/
}

.color_brown {
  background-color: #B49082; /*#7A401F*/
}

.color_gradient_dark_blue {
  background-image: linear-gradient(to right, #0F2027, #203A43, #2C5364);
}

.text_1 {
  font-family: "Aboreto", cursive;
}

.text_2 {
  font-family: "Comfortaa", cursive;
}

.text_3 {
  font-family: "Raleway", sans-serif;
}

.selected {
  text-decoration: underline;
  color: #98473E;
}

.space_evenly {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#center_center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/*-------------------BUTTONS-------------------*/
button {
  background-color: #B49082;
  border-color: #98473E;
}

/*--------------------CARDS--------------------*/
.btn:first-child:hover, :not(.btn-check) + .btn:hover {
  color: black;
  background-color: #98473E;
}

.card_buttonn {
  width: 150px;
  padding: 12px 24px;
  background-color: #98473E;
  border: #98473E;
  color: black;
  border-radius: 7px;
  transition: transform 250ms cubic-bezier(0.2, 0.8, 0.4, 1);
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}
.card_buttonn p {
  font-size: 16px !important;
}
.card_buttonn:hover {
  transform: scale(1.1);
}
.card_buttonn:active {
  transform: scale(0.9);
}

.card {
  background-color: #B49082;
}
.card h5 {
  font-family: "Comfortaa", cursive;
  font-size: 18px;
}
.card p {
  font-family: "Raleway", sans-serif;
  font-size: 15px;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

header {
  width: 100%;
  position: sticky;
  top: 0px;
  z-index: 5;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  border-bottom: black solid 2px;
}
header div a img {
  margin: 0 20px 0 10px;
}
header button {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: none;
  margin: 0 10px 0 0;
}
header nav {
  align-self: flex-end;
}
header nav ul li {
  padding: 10px;
}

#header_logo {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-self: flex-start;
  align-items: center;
}

#header_nav_button {
  display: flex;
  align-items: center;
}

.logos {
  display: none;
}

.bg-light-propio {
  background-color: transparent !important;
}

.active-propio {
  text-decoration: underline;
  color: #98473E !important;
}

.nav-link-propio {
  color: var(--bs-body-color);
  font-size: 16px;
}

.nav-link-propio:hover {
  color: var(--bs-body-color);
}

#inicio {
  height: 100vh;
}
#inicio a {
  text-align: center;
  margin: 20px;
  border-radius: 5%;
  width: 277px;
  height: fit-content;
  overflow: hidden;
  padding: 12px 24px;
  border-radius: 7px;
  background-color: #A37C40;
  color: #98473E;
  position: relative;
  display: inline-block;
  cursor: pointer;
}
#inicio a:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #98473E;
  transform: scaleX(0);
  transform-origin: 100% 100%;
  transition: transform 0.6s cubic-bezier(0.53, 0.21, 0, 1);
  transform: 0.6s cu;
}
#inicio a:hover::before {
  transform-origin: 0 0;
  transform: scaleX(1);
}
#inicio a:hover span {
  color: #A37C40;
}
#inicio a span {
  position: relative;
  transition: color 0.6s cubic-bezier(0.53, 0.21, 0, 1);
}

.carousel-indicators [data-bs-target] {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-left: 20px;
  margin-right: 20px;
  background-color: #203A43;
}

#nosotros .background {
  background-image: url("../images/lugar3.png");
  height: 750px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

#nosotros_all {
  opacity: 0.85;
  width: 60%;
  height: auto;
  border: #A37C40 solid 10px;
}
#nosotros_all p {
  text-align: justify;
}

#nuestras_delicias_container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#nuestras_delicias h2 {
  color: rgb(126, 103, 10);
  padding-top: 10px;
}

.row {
  margin-right: 0;
}

#ver_todo {
  display: none;
}

.destacados {
  padding: 3px;
  border-radius: 10px;
  background-image: linear-gradient(270deg, rgb(126, 103, 10), rgb(158, 158, 42), rgb(158, 158, 42), rgb(126, 103, 10));
  background-size: 400% 100%;
  animation: loading 8s ease-in-out infinite;
  margin-bottom: 30px;
}
.destacados img {
  border-radius: 10px;
}

.altura {
  height: 670px;
  padding: 20px 0 30px 0;
}

@keyframes loading {
  from {
    background-position: 200% 0;
  }
  to {
    background-position: -200% 0;
  }
}
footer {
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
footer div {
  margin-left: 10px;
}
footer div a {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
footer div a i {
  margin-right: 10px;
}
footer iframe {
  padding: 5px;
  width: 160px;
  height: 160px;
}

.space_around {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/*# sourceMappingURL=style.css.map */
