*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

html{
    font-size: 62.5%;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: initial;
    line-height: normal;
}

a{
    color: black;
    text-decoration: none;
    &:hover{
        color: initial;
    }
}

.color_dark-brown_gradient{
    background-image: linear-gradient(to right, $c-principal 0%, $c-terciario 100%);
}

.color_dark-brown{
    background-color: $c-principal;      /*#C76831*/
}

.color_brown{
    background-color: $c-terciario;      /*#7A401F*/
}

.color_gradient_dark_blue{
    background-image: $c-bg-gradient;
}

.text_1{
    font-family: 'Aboreto', cursive;
}

.text_2{
    font-family: 'Comfortaa', cursive;
}

.text_3{
    font-family: 'Raleway', sans-serif;
}

.selected{
    text-decoration: underline;
    color: $c-secundario;
}

.space_evenly{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#center_center{
    @extend %flexac;
    flex-direction: row;
    justify-content: center;
}

/*-------------------BUTTONS-------------------*/
button{
    background-color: $c-terciario;
    border-color: $c-secundario;
}

/*--------------------CARDS--------------------*/

.btn:first-child:hover, :not(.btn-check)+.btn:hover {
    @include estilo ($c-secundario,0,0,0,0);
}

.card_buttonn {
    width: 150px;
	padding: 12px 24px;
    @include estilo ($c-secundario,0,0,10px,0);
    border: $c-secundario;
    border-radius: 7px;
    transition: transform 250ms cubic-bezier(.2,.8,.4,1);
    display: flex;
    justify-content: center;
    p{
        font-size: nth($list: $font-size, $n: 6) !important;
    }
    &:hover{
        transform: scale(1.10);
    }
    &:active{
        transform: scale(0.9);
    }
  }


.card{
    
    background-color: map-get($map: $card, $key:background-color );
    h5{
        font-family: 'Comfortaa', cursive;
        font-size: map-get($map: $card, $key:font-size-h5);
    }
    p{
        font-family: 'Raleway', sans-serif;
        font-size: map-get($map: $card, $key:font-size-p );
    }
}

.card-body{
    @extend %flexac;
    flex-direction: column;
    justify-content: space-between;
}

/*--------------------FORMS--------------------*/
.form-select{
    background-color: #98473E;
    color: #B49082;
    border-color: #98473E;
}

.form-select:focus{
    background-color: #98473E;
    color: wheat;
    border-color: #98473E;
    box-shadow: 0 0 0 0.25rem #A37C40;
}

.form-label{
    color:#98473E; 
}

.form-control{
    background-color: #98473E;
    color: wheat;
    border-color: #98473E;
}

.form-control:focus{
    background-color: #98473E;
    color: wheat;
    border-color: #98473E;
    box-shadow: 0 0 0 0.25rem #A37C40;
}

/*------------------------------SCROLLBAR------------------------------*/
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 1px grey;
    background-color: lighten($color: $c-terciario, $amount: 15%) ;
}

/* Handle */
::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 1px grey;
    background: lighten($color: $c-secundario, $amount: 10%) ;
    border-radius: 10px;
}
