#inicio{
        min-height: 100vh;
        height: fit-content;
    // .carrusel{
    //     height: 63vh;
    //     min-width: 100%;
    //     width: auto;
    //     @media screen and (max-width: 992px) {
    //         height: 69vh;
    //         width: auto;
    //     }
    //     @media screen and (max-width: 767px) {
    //         height: 64vh;
    //         width: auto;
    //     }
    //     @media screen and (max-width: 480px) {
    //         height: 67vh;
    //         width: auto;
    //     }
    // }
    // .carrusel_img{
    //     height: 63vh;
    //     min-width: 100% !important;
    //     width: max-content !important;
    //     @media screen and (max-width: 992px) {
    //         height: 69vh;
    //         width: max-content !important;
    //     }
    //     @media screen and (max-width: 767px) {
    //         height: 64vh;
    //         width: max-content !important;
    //     }
    //     @media screen and (max-width: 480px) {
    //         height: 67vh;
    //         width: max-content !important;
    //     }
    // }
    .carrusel_botones_container{
        button{
            border-top: 0px;
            border-bottom: 0px;
            margin-bottom: 10px;
            width: 10px !important;
            height: 10px !important;
            border-radius: 50%;
            margin-left: 20px !important;
            margin-right: 20px !important;
            background-color: #203A43 !important;
        }
    }
    ;
    .container_botones_principales{
        a{
            text-align: center;
            margin: 20px;
            border-radius: 5%;
            width: 277px;
            height: fit-content;
            overflow: hidden;
            padding: 12px 24px;
            border-radius: 7px;
            background-color:  $c-principal;
            color: $c-secundario;
            position: relative;
            display: inline-block;
            cursor: pointer;
            &:before{
                content: "";
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: $c-secundario;
                transform: scaleX(0);
                transform-origin: 100% 100%;
                transition: transform 0.6s cubic-bezier(0.53, 0.21, 0, 1);
                transform: 0.6s cu;
            }
            &:hover::before{
                transform-origin: 0 0;
                transform: scaleX(1);
            }
            &:hover span{
                color: $c-principal;
            }
            span{
                position: relative;
                transition: color 0.6s cubic-bezier(0.53, 0.21, 0, 1);
                img{
                    height: 80px;/**/
                    width: auto;
                    @media screen and (max-width: 767px) {
                        height: 24px;
                        width: 24px;
                    }
                }
            }
            @media screen and (max-width: 767px) {
                width: 250px;
            }
            @media screen and (max-width: 320px) {
                width: 200px;
            }
        }
    }
}

