#nosotros .background{
    background-image: url("../images/lugar3.png");
    height: 750px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    @extend %flexac;
    justify-content: center;
    #nosotros_all{
        background-color: rgba($color: $c-terciario, $alpha: 0.90);
        width: 60%;
        height: auto;
        border: $c-principal double 10px;
        p{
            text-align: justify;
            margin-right: 10px;
            margin-left: 5px;
            @media screen and (max-width: 480px) {
                text-align: left;
            }
            @media screen and (max-width: 480px) {
                margin-bottom: 0;
            }
        }
    }
}
@media screen and (max-width: 480px) {
    #nosotros .background{
        height: 500px;
    }

    #nosotros_all{
        font-size: 1.2rem;
    }
}

