/*---------------------CARTA---------------------*/
.carta_nav{
    width: 100%;
    position: sticky;
    top: 62px;
    @media screen and (max-width: 992px) {
        top: 46px;
    }
    @media screen and (max-width: 767px) {
        top: 82px;
    }
    @media screen and (max-width: 480px) {
        top: 62px;
    }
    z-index: 1;
    padding: 7px 0;
    text-align: center;
    display: flex;
    justify-content: center;
    border-bottom: black solid 2px;
    .container-fluid{
        justify-content: center;
    }
    a{
        font-size: 1.5rem;
        @media screen and (max-width: 767px) {
            font-size: 1.5rem;
            padding: 0;
        }
        @media screen and (max-width: 480px) {
            font-size: 1.2rem;
        }
        display: inline-block;
        position: relative;
        cursor: pointer;
        &::after{
            content: '';
            position: absolute;
            width: 100%;
            transform: scaleX(0);
            height: 2px;
            top: 110%;
            left: 0;
            background-color: #98473E;
            transform-origin: bottom right;
            transition: transform .4s cubic-bezier(.86,0,.07,1);
        }
        &:hover::after {
            transform: scaleX(1);
            transform-origin: bottom left;
        }
    }

}

.carta_container{
    h2{
        color: $c-secundario;
        padding-left: 30px;
    }
}


#products_container_1, #products_container_2, #products_container_3{
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 30px;
    justify-items: center;
}

#products_container_4{
    padding: 40px 0 30px 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    row-gap: 30px;
    justify-items: center;
}

.astrodivider {
    margin:80px auto 20px auto;
    @media screen and (max-width: 992px) {
        margin:67px auto 17px auto;
    }
    @media screen and (max-width: 767px) {
        margin:85px auto 25px auto;
    }
    @media screen and (max-width: 480px) {
        margin:67px auto 17px auto;
    }
    @media screen and (max-width: 330px) {
        margin:81px auto 21px auto;
    }
    width:70%; 
    position:relative;
  }
  
  .astrodividermask { 
    overflow:hidden; height:20px; 
  }
  
  .astrodividermask:after { 
        content:''; 
        display:block; margin:-25px auto 0;
        width:100%; height:25px;  
        border-radius:125px / 12px;
        box-shadow:0 0 8px $c-secundario	;
  }
  .astrodivider span {
      width:50px; height:50px; 
      position:absolute; 
      bottom:100%; margin-bottom:-25px;
      left:50%; margin-left:-25px;
      border-radius:100%;
     box-shadow:0 2px 4px $c-secundario;
      background:$c-terciario;
  }
  .astrodivider i {
      position:absolute;
      top:4px; bottom:4px;
      left:4px; right:4px;
      border-radius:100%;
      border:1px dashed $c-secundario;
      text-align:center;
      line-height:40px;
      font-style:normal;
       color:$c-secundario;
  }

#cafes{
    padding-top: 1px;
}

#jugos{
    padding-top: 1px;
}

#salados{
    padding-top: 1px;
}

#dulces{
    padding-top: 1px;
}

@media screen and (max-width: 1200px) {
    #products_container_1, #products_container_2{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    #products_container_3{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }

    #products_container_4{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
}

@media screen and (max-width: 992px) {
    #products_container_1, #products_container_2{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }

    #products_container_3{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }

    #products_container_4{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5, 1fr);
    }
}

@media screen and (max-width: 620px) {
    #products_container_1, #products_container_2{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, 1fr);
    }

    #products_container_3{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(7, 1fr);
    }

    #products_container_4{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(9, 1fr);
    }

    .card{
        width: 80% !important;
        height: 150px;
        flex-direction: row;
        overflow: hidden;
        img{
            height: 165px;
            width: auto;
        }
    }
}

@media screen and (max-width: 480px) {

    /*---------------------CARTA---------------------*/
    .carta_nav img{
        width: 12px;
        height: auto;
    }

}

@media screen and (max-width: 320px) {

    .carta_card{
        width: 20rem !important;
    }

}





