header{
    width: 100%;
    position: sticky;
    top: 0px;
    z-index: 5;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    border-bottom: black solid 2px;
    div{
        a{
            img{
                margin: 0 20px 0 10px;
            }
        }
    }
    button{
        height: 50px;
        width: 50px;
        border-radius: 50%;
        border: none;
        margin: 0 10px 0 0;
    }
    nav{
        align-self: flex-end;
        ul{
            li{
                padding: 10px;
            }
        }
    }
}

#header_logo{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-self: flex-start;
    align-items: center;
}

#header_nav_button{
    display: flex;
    align-items: center;
}

.logos{
    display: none;
}

.bg-light-propio {
    background-color: transparent !important;
}

.active-propio{
    text-decoration: underline;
    color: $c-secundario !important;
}

.nav-link-propio{
    color: var(--bs-body-color);
    font-size: nth($list: $font-size, $n: 6);
}

.nav-link-propio:hover{
    color: var(--bs-body-color);
}
