/*-------------------RESERVAS-------------------*/
#reservas_body{
    height: 100vh; 
    background-color: #A37C40 ;
}

#reservas_footer{
    position: fixed;
    width: 100%;
    bottom: 0;
}

#reservas .background{
    background-image: url("../images/lugar2.png");
    background-size: cover;
    width: 100%;
    height: calc(100vh - (62px + 160px));
    @media screen and (max-width: 992px) {
        height: calc(100vh - (46px + 160px));
    }
    @media screen and (max-width: 767px) {
        height: calc(100vh - (82px + 160px));
    }
    @media screen and (max-width: 480px) {
        height: calc(100vh - (62px + 120px));
    }
}

#reservas .color_brown{
    font-size: 1.5rem;
    opacity: 0.85;
    height: auto;
    width: fit-content;
    width: -moz-fit-content;
    min-height: 250px;
    border: #A37C40 solid 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
    align-items: center;
    label{
        font-size: 1rem;
        @media screen and (max-width: 1023px) {
            font-size: 0.7rem !important;
        }
        @media screen and (max-width: 480px) {
            font-size: 0.4rem !important;
        }
        @media screen and (max-width: 380px) {
            font-size: 0.3rem !important;
        }
    }
    option{
        font-size: 1.2rem;
        @media screen and (max-width: 1023px) {
            font-size: 0.9rem !important;
        }
        @media screen and (max-width: 480px) {
            font-size: 0.6rem !important;
        }
        @media screen and (max-width: 380px) {
            font-size: 0.5rem !important;
        }
    }
    @media screen and (max-width: 1023px) {
        font-size: 1.2rem !important;
    }
    @media screen and (max-width: 480px) {
        font-size: 0.9rem !important;
    }
    @media screen and (max-width: 380px) {
        font-size: 0.8rem !important;
    }
}

#reservas .color_brown button{
    align-self: flex-end;
}

#reservas .mb-3{
    margin: 0 10px 0 10px;
}

#reservas .color_brown nav ol{
    text-align: center;
}

#reservas .color_brown form ul{
    text-align: center;
}

#reservas .color_brown .align_right{
    align-self: flex-start;
    margin-left: 10px;
}

#reservas .color_brown nav ol li{
    display: inline-block;
    padding: 10px;
}

#reservas .color_brown form ul li{
    display: flex;
    padding: 10px;
}

.options{
    display: none;
}

#reservas button {
    border: black solid 1px;
    padding: 3px 5px;
    @include estilo (#98473E,0,7px,7px,0);
    border-radius: 5px;
    transition: transform 250ms cubic-bezier(.2,.8,.4,1);
    
}

#reservas button:hover {
    transform: scale(1.10);
}

#reservas button:active {
    transform: scale(0.9);
}

@media screen and (max-width: 767px) {

    /*-------------------RESERVAS-------------------*/
    #reservas .color_brown{
        width: fit-content;
        width: -moz-fit-content;
    }

}

@media screen and (max-width: 600px) {

    /*-------------------RESERVAS-------------------*/
    #reservas .color_brown, #reservas button a{
        font-size: 1.2rem;
    }

}

@media screen and (max-width: 320px) {

    /*-------------------RESERVAS-------------------*/
    #reservas .color_brown{
        width: 100%;
        border: none;
    }

    #reservas form ul{
        flex-direction: column;
    }

}